/config/config_db*
/config/glpi.key
/config/glpicrypt.key
/config/local_define.php
/tests/config_db*
/files/
/.buildpath
/.project
/.settings/
/.vscode/
/.idea/
/vendor/
phpunit.xml
/tests/code-coverage/
/tests/coverage-*/
/tests/files/
/tests/.env
/config/based_config.php
/config/config.php
/config/define.php
/nbproject
.composer.hash
/**/*.min.css
/**/*.min.js
/node_modules/
.package.hash
/public/assets/
phinx.php
