<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block js %}
  {% webpack_entry_js 'vendor' %}
{% endblock %}

{% block css %}
  {% webpack_entry_css 'vendor' %}
{% endblock %}

  <title>{{ title }}</title>
</head>
<body>
  <div class="ui container" style="height: 100%">
    <div class="ui middle aligned center aligned grid" style="height: 100%">
      <div class="column">
        <div class="ui placeholder segment" style="background-color: white;">
          <img src="{{ rootpath }}/assets/img/error_401.jpg" width="800" height="600" style="margin-left: auto; margin-right: auto;">
          <span class="ui blue big text">{{ message }}</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
