:root {
  --darkBG: #232B32;
}

body.inverted {
  background-color: var(--darkBG);
}

.ui.sidebar.visible ~ .pusher {
  width: calc(100% - 300px);
}

[hidden] { display:none !important;}

/* priority, impact and urgency */
.ui.ui.table td.fusionmajor:not(.marked) {
  background: #ffdef5;
  color: #581845;
}

.ui.ui.table td.fusionveryhigh:not(.marked) {
  background: #ffddea;
  color: #900c3f;
}

.ui.ui.table td.fusionhigh:not(.marked) {
  background: #ffdbe5;
  color: #c70039;
}

.ui.ui.table td.fusionmedium:not(.marked) {
  background: #ffdad3;
  color: #ff5733;
}

.ui.ui.table td.fusionlow:not(.marked) {
  background: #fff5d6;
  color: #ecb400;
}

.ui.ui.table td.fusionverylow:not(.marked) {
  background: #fcfff8;
  color: #c3de93;
}

i.icon.fusionmajor {
  color: #581845;
}

i.icon.fusionveryhigh {
  color: #900c3f;
}

i.icon.fusionhigh {
  color: #c70039;
}

i.icon.fusionmedium {
  color: #ff5733;
}

i.icon.fusionlow {
  color: #ecb400;
}

i.icon.fusionverylow {
  color: #c3de93;
}

.loginbg {
  background-color: #000000;
  background-image: url('img/background.png');
  background-position: center top;
  background-size: 100% auto;
}

.logo {
  background-image: url('img/logo.png');
  width: 200px !important;
  height: 64px !important;
}

blockquote {
  border-left: 4px solid #e5e5e5;
  color: #999;
  margin: 14px 0;
  padding: 0 16px;
}

.itilcontent {
  border-left: 4px solid #2185d0;
  margin: 14px 2px;
  padding: 0 16px;
}

.itilcontent img {
  width: 100%;
}

.event > .content {
  margin-bottom: 25px !important;
}

.pageheader {
  background-color: #ffffff;
}

.pageheader .inverted {
  background-color: #232b32;
}

.treelvl1 {
}

.treelvl2 {
  margin-left: 20px !important;
}

.treelvl3 {
  margin-left: 40px !important;
}

.treelvl4 {
  margin-left: 60px !important;
}

.treelvl5 {
  margin-left: 80px !important;
}

.error401 {
  background-image: url('img/error_401.jpg');
  background-position: center top;
  background-size: 100% auto;
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.error404 {
  background-color: #000000;
  background-image: url('img/error404.png');
  background-position: center top;
  background-size: 100% auto;
}


.ui.extralarge.modal {
  margin: 0;
  width: 1500px;
}
